/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: white;
  overflow-x:hidden;
}

header{
  position: fixed;
  top: 0px;
  background: white;
  
  z-index: 999;
  width: 100%;

  
}
/* Title */
#title {
  margin-top: 1;
  margin-bottom:3;
  
  font-size: 20px;
  color: black;
  text-align: center;
  width: 91.5%;
}

.title {
  font-size: 14px; 
  margin-bottom: 10px;
  }


/* Year */
h2{
  height: 1em;  
  font-size: 4em;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
/*   font-family: "Times New Roman", serif; */
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 30px;
text-align:center;
  width: 91.5%;
}

/* Solid line */
hr {
  margin-top:0px;
  color:black;
  width: 93%;
  float: left;
}




p{
  margin: 0px 0px 24px 0px;  
      font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

/* Parks title */
#YellowStone, #Acadia, #GrandCanyon, #GreatSmoky {
  width: 23%;
  float: left;
  align-content: Center;
  margin-top:2em;
  margin-right: 1.3em;
  margin-bottom:1.3em;
  position:relative;
  transform-origin:center;
  transform: skewY(10deg);
}

/* #Acadia {
  transform: skewy(-10deg);
}

#GreatSmoky {
  transform: skewY(-10deg);
}  */


.yellowstone-img, .acadia-img, .grandcanyon-img, .smoky-img{
    width:100% ;
    border: 1.2px;
    border-style: solid;
    border-color: black;
    opacity: 0.5;
    padding: 5px;
}

.parks{
  margin-top: 130px;  
}


.yellowstone-img:hover, .acadia-img:hover, .grandcanyon-img:hover, .smoky-img:hover{
  opacity: 1.0;
}

.map-item{
    z-index: -1;


}

.map-item:hover{
  transform-origin:center;
    /* transform-origin: left top; */
      z-index: 1;
    /* transform: scale(1.3); */
    position: relative;
  
    transform:skewY(-20deg);
}

.bold {
  font-weight: bold;
}

.category{
  font-weight: bold;
  font-size:2em;
    width: 20.5%;
    display: inline-block;
}
